streamlit
langchain
langchain-core
langchain-community
langgraph
chromadb
sentence-transformers
rank-bm25
groq
numpy
unstructured
faiss-cpu
docx2txt
langchain-text-splitters
pillow
pymupdf
SpeechRecognition
easyocr
torch
torchvision
